h1 {
    font-size: 20rem;
}

.letter {
    transition: color 500;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: olive;
}