h1 {
    font-size: 15rem;
}

.letter {
    transition: color 500;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(181, 13, 181);
}